@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.layout-background {
	background-image: url("../assets/img/bg.png");
	background-size: cover;
	background-position: center;
}
.hero-background {
	background-image: url("../assets/img/hero-bg.png");
	background-size: cover;
	background-position: center;
}

.ant-pagination-item {
	border-radius: 16px !important;
	border: 1px solid #edeef1 !important;
	background: #fff !important;
}

.ant-pagination-item-active {
	background: #000 !important;
}

.ant-pagination-item-active a {
	color: #fff !important;
	font-style: normal;
	font-weight: 500;
}

.ant-modal-content {
	border-radius: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.ant-upload-drag {
	border-left: none !important;
	border-right: none !important;
	border-radius: 0px !important;
	background: #fcfcfc !important;
}

.ant-upload-list-item {
	margin-top: 0px !important;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	border-radius: 0px !important;
}

.ant-menu-item-icon {
	color: #b0b0b0 !important;
}

.ant-menu-item-content {
	color: #3d3d3d !important;
}

.ant-menu-item-selected {
	background: #e3f3d4 !important;
	color: #3d3d3d !important;
}
.ant-menu-item-selected .ant-menu-item-icon {
	color: #43ba00 !important;
}
.ant-switch.ant-switch-checked {
	background: #43BA00!important;
}
.ant-input-outlined {
	border: none;
}

.otp-input:focus {
	border: 0.5px solid var(--AP-Green-500, #27a713);
	background: #fff;
	box-shadow: 0px 0px 4px 0px #43ba00;
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}

.hide-ms-reveal {
	::-ms-reveal {
		display: none;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.search-container {
	position: relative;
	width: 400px;
	
}

.cta {
	font-size: 14px;
}
#search-input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;

	&:focus {
		outline: none;
	}
}

.autocomplete-items {
	position: absolute;
	/* border: 1px solid #ccc; */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: -20px;
	background-color: #fff;
	/* max-height: 300px; */
	overflow-y: auto;
	border-radius: 5px;
}

.autocomplete-item {
	padding: 10px;
	cursor: pointer;

	&:hover {
		background-color: #e9e9e9;
	}
}

.autocomplete-item:hover {
	background-color: #e9e9e9;
}
